@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding: 0;
    background-color: rgb(230, 232, 249);
}
.nav{
    width: 100;
    height: 50px;
    padding:15px 0;
    justify-content:space-between;
    background-color: #90aaf0;
    background-size: cover;
}
.nav ul li{
    list-style: none;
    display:inline-block;
    margin:0 10px;
}

.nav ul li a{
    display: block;
    height: 35px;
    margin-right: 20px;
    text-decoration:none;
    color:black;
    text-transform:uppercase;
}
.nav ul li ul.dropdown li{
    display:block;
}
.nav ul li ul.dropdown{
    padding: 10px;
    height: 70px;
    width: 15%;
    background: #dcdee3;
    position: absolute;
    z-index: 999;
    display: none;
}
.nav ul li a:hover{
    color: white;
}
.nav ul li:hover ul.dropdown{
    display:block;
}
.home h1{
    align-items: center;
}


/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }